.sectionTwo {
    position: sticky;
    background-color: rgb(7, 7, 7);
  width: 100%;
  min-height: 90vh;
}

.sectionTwo .bigote{
    filter: invert(61%) sepia(72%) saturate(3170%) hue-rotate(16deg) brightness(105%) contrast(101%);
}

.sectionTwo hr{
    border-color: rgb(255, 255, 255);
    border-width: 1px;
}

.sectionTwo .bg2{
    width: 50%;
    min-width: 450px;
    border-radius: 12px;
}

.sectionTwo h2{
    color:#DCA000;
    text-align: center;
    font-size: 22px;
}

.sectionTwo h4{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.sectionTwo h3, h5{
    font-size: 20px !important;
    color:#DCA000;
    font-weight: 900;

}

.sectionTwo .btn{
    width: 130px;
    height: 45px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 5px;
    background-color: #DCA000;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.sectionTwo .btn:hover{
    box-shadow: 0 0 10px rgba(94, 84, 1, 0.9);
}

.sectionTwo .efect{
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;
  
    animation-name: show;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-timeline: --revealing-image;
  
    animation-range: entry 25% cover 50%;
}

span.item {
    position:absolute;
    top: 80px;
    right: 0;
    width: 6rem;
    height: 5rem;
    transform: rotate(90deg) skewX(-12deg);
    border-radius: 1.5rem;
    background: linear-gradient(45deg, #978000, rgb(119, 48, 0));
    filter: blur(5rem);
    opacity: 0.8;
    display: none;
    z-index:-1 ;
  }

  @media (width > 200px) {
    span.item {
      right: 100px; 
      opacity: 0.8; 
      display: block; 
    }
  }


  span.item2 {
    position:absolute;
    bottom:10px;
    left: 60%;
    width: 6rem;
    height: 5rem;
    transform: rotate(50deg) skewX(-12deg);
    border-radius: 1.5rem;
    background: linear-gradient(45deg, #c7a902, rgb(119, 48, 0));
    filter: blur(5rem);
    opacity: 0.8;
    display: none;
    z-index:-1 ;
  }

  @media (width > 200px) {
    span.item2 {
      right: 100px; 
      opacity: 0.8; 
      display: block; 
    }
  }


  span.item3 {
    position:absolute;
    top: 40%;
    left: 0;
    width: 6rem;
    height: 4rem;
    transform: rotate(90deg) skewX(-12deg);
    border-radius: 1.5rem;
    background: linear-gradient(45deg, #caa501, rgb(139, 84, 0));
    filter: blur(5rem);
    opacity: 0.8;
    display: none;
    z-index:-1 ;
  }

  @media (width > 200px) {
    span.item3 {
      right: 100px; 
      opacity: 0.8; 
      display: block; 
    }
  }

  span.item4 {
    position:absolute;
    top: 150px;
    left: 30%;
    width: 6rem;
    height: 5rem;
    transform: rotate(90deg) skewX(-12deg);
    border-radius: 1.5rem;
    background: linear-gradient(45deg, #978800, rgb(119, 64, 0));
    filter: blur(5rem);
    opacity: 0.8;
    display: none;
    z-index:-1 ;
  }

  @media (width > 200px) {
    span.item4 {
      right: 100px; 
      opacity: 0.8; 
      display: block; 
    }
  }



@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}


@media (width < 500px) {
    .sectionTwo .bg2{
        min-width: 300px;
    }

    .sectionTwo .prices{
        width: 300px;
    }
}