.sectionFour{
    width: 100%;
    min-height: 90vh;
    color: black;
}

.sectionFour h2{
    font-weight: 700;
    color: #DCA000;
    font-size: 22px;
}

.sectionFour hr{
    border-color: black;
    border-width: 1px;
}

.sectionFour .shair{
    filter: invert(61%) sepia(72%) saturate(3170%) hue-rotate(16deg) brightness(105%) contrast(101%);
}

.card {
    width: 250px;
    height: 310px;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
   }
   
   .card .cardbordertop {
    width: 60%;
    height: 3%;
    background: #DCA000;
    margin:0 auto;
    border-radius: 0px 0px 15px 15px;
   }
   
   .card span {
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    display: block;
    font-size: 16px;
   }
   
   .card .job {
    font-weight: 400;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    font-size: 12px;
   }
   
   .card .img {
    width: 150px;
    height: 150px;
    background: #DCA000;
    border-radius: 50%;
    margin: auto;
    background-position: center;
    background-size: cover;
   }
   
   .card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    background-color:#DCA000;
    color: white;
    font-weight: 600;
   }
   
   .card button:hover {
    box-shadow: 0 0 10px rgba(94, 84, 1, 0.9);
   }