.sectionOne{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/bg.webp) ;
    background-position: center center;
    background-size: cover;
    
}

.sectionOne h1{
    color: #DCA000;
}

.sectionOne hr{
    border-width: 1px ;
}

.sectionOne a:hover{
    background-color: #DCA000;
    transition: all .3s ease;

}

@media (width < 500px) {
    .sectionOne h1{
        font-size: 2.5rem;
    }
}